.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  width: 100vw;
  background-color: white;
  font-size: 100px;
  flex-direction: column;
}

body {
  overflow: hidden;
}
